<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <p>Greetings Club Representative</p>
            <p>%s has created an account, listing %s as their club</p>
            <p>Please visit the <a href="http://co-project.lboro.ac.uk/users/cojw3/ssago/?action=clubrepadmin">http://co-project.lboro.ac.uk/users/cojw3/ssago/</a> to approve them.</p>
            
            <p>Regards,</p>
            <p>SSAGO Events Management System</p>
        </div>
    </body>
</html>
