<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <p>Hello %s, </p>
            <p>Congratulations, your account has been approved.</p>
            
            <p>Go to <a href="http://ssagorally.com">http://ssagorally.com</a> and log in using your email and password to book on to upcoming SSAGO events</p>
            <p>Email: %s</p>
            
            <p>Regards, SSAGO Events Management System</p>
        </div>
    </body>
</html>
