<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
			<p>Dear Rally Site Team,</p>
            <p>A problem has been reported by a user of the rally website, details below:</p>
            <p>Issue Title: %s</p>
            <p>Issue Details: %s</p>
            
			<p>The issue was reported by %s (%s) and can be contacted at the following email address: <a href="mailto:%s">%s</a></p>
			
            <p>Regards,</p>
            <p>SSAGO Rally site</p>
        </div>
    </body>
</html>
