<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <p>SSAGO Events Management System</p>
            <p>Hello %s, your account has been created.</p>
            
            <p>To book on to rally, go to <a href="http://ssagorally.com">http://ssagorally.com</a> and log in using your email and password.</p>
            <p>Email: %s</p>
            
            <p>Regards, SSAGO Executive</p>
        </div>
    </body>
</html>
