/* 
    Document   : form_styles
    Created on : 10-Apr-2012, 18:14:39
    Author     : James
    Description:
        Purpose of the stylesheet follows.
*/

input,textarea,select{
	min-width: 200px;
}



.form_details {
    border-radius: 3px;
	padding: 5px;
    margin-bottom: 20px;
	background-color: #FFFFFF;
}

.left_form_column {
	float: left;
}

.right_form_column {
	float: left;
	margin-left: 30px
}

.registration_form {
	margin-bottom: 15px;
}

.registration_form label{
    font-weight: bold;
    display: block;
	min-width: 100px;
}

.registration_form div span {
    margin-left: 10px;
    color: #333333;
    font-size: 10pt;
    font-style: italic;
}

.registration_form input.error{
	background: #f8dbdb;
	border-color: #e77776;
}

.registration_form textarea.error{
	background: #f8dbdb;
	border-color: #e77776;
}

ul.member_list {
    position: relative;
    float: left;
    text-align: left;
    border-bottom: 1px solid grey;
    width: 80%;
}

.member_list li {
    float: left;
    padding-right: 15px;
    list-style-type: none;
    min-width: 120px;
}

li.member_email {
    padding-right: 50px;
    min-width: 200px;
}

li.member_phone {
    padding-right: 10px;
}

li.tick {
    padding-right: 15px;
    min-width: 20px;
    width: 20px;
    
}

img.tick {
    max-width: 20px;
    max-height: 20px;
}

p.club_header {
    clear: both;
}

/* admin entry */
.admin_entry label{
    font-weight: bold;
    display: block;
}

.activity_form {
    padding-top: 10px;
}

.activity_form legend{
    font-weight: bold;
}

/*Button style*/
.booking_actions {
	margin-top: 15px;
	height: 50px;
	display: inline-block;
}

.booking_actions .booking_button {
	margin-top: 20px;
}

a.booking_button {
    /* Sliding right image */    background: transparent url('button_right.png') no-repeat scroll top right; 
    display: block;
    float: left;
    height: 34px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
    margin-right: 6px;
    padding-right: 20px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
    /* FONT PROPERTIES */
    text-decoration: none;
	
	background-color:rgba(143, 34, 113, 1);
	color: white;
	border-radius: 5px;
	font-weight: bold;
}

a.booking_button span{    /* Background left image */ 
    display: block;
    line-height: 22px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
    padding: 7px 0 5px 18px;
}

a.booking_button:hover span{
    text-decoration:none;
}

/* booking form */
.booking_form {
    
}


.booking_form_section {
	background-color: #ffffff;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 10px;
}

.booking_form_section  span {
	margin: 3px;
}

.activityButton {
	height: 130px;
	width: 230px;
	background-color: rgb(143, 34, 113);
	color: white;
	font-weight: bold;
	font-size: 12pt;
	font-family: calibri, verdanna;
	margin: 2px;
	border: none;
}

label{
    font-weight: bold;
	width: 150px;
	display: inline-block;
}

.booking_form label span {
    font-weight: normal;
}

/*Event admin */

#newsTitle {
	width: 500px;
	min-width: 150px;
}

#newsBody {
	width: 90%;
	min-width: 300px;
	overflow:scroll; 
	height: 300px;
	max-height:300px
}

.clubBookings {
	width: 100%;
}

.clubBooking {
	height: 75px;
	width: 100%;
}

.bookingsHeader {
	text-align: center;
}

.bookingField {
	float: left;
	max-width: 225px;
}

.bookingField > label{
	width: 100%;
}

.col1 {
	width: 250px;
}

.col2 {
	width: 225px;
}

.col3 {
	width:75px;
}

.col4 {
	width: 75px;
}

.col5 {
	width: 175px;
}

.bookingsTable {
	margin-top: 25px;
	border: 1px solid #666666;
	border-radius: 3px;
	padding: 5px;
}

.bookingField {
	margin: 5px;
}

.bookingField > input[type="checkbox"] {
	min-width: 15px; /* Override standard min-width on inputs */
	width: 15px;
	height: 15px;
	margin-left: 30px;
}

input[type="submit"] {
	border-radius: 5px;
	background: rgb(143, 34, 113);
	border: none;
	text-decoration: none;
	font-family: calibri, verdana;
	font-weight: bold;
	color: #FFFFFF;
	cursor: pointer;
	min-width: 100px;
	width: 100px;
	height: 30px;
}

.bookingField > input[type="submit"] {
	margin-left: 38px;
}

.bookingField  > select{
	border: none;	
}

.bookingField  > select:focus{
	-webkit-appearance:none;
	box-shadow: 0px 0px 5px rgb(143, 34, 113);
}

.short  {
	min-width: 30px;
	width: 60px;
}

/*
Jquery UI override
*/

.ui-widget {
	font-size: 12pt;
}
